altgraph==0.17
Brotli==1.0.9
certifi==2021.5.30
etcpak==0.9.6
future==0.18.2
lz4==4.0.0
pefile==2021.5.24
Pillow==8.4.0
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pywin32==301
pywin32-ctypes==0.2.0
requests==2.26.0
texture2ddecoder==1.0.4
UnityPy==1.8.9